{%extends 'blog/base1.html' %}
{%block title_block%}ABOUT{%endblock%}

{% block css %}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content{
  width: 68%;
  z-index: 0;
  float: left;
  padding: 0 0 0 0;
  background: #c2edda;
}

.sidenav{
    float: right;
    width: 32%;
    background: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
    z-index: 1;
  }


h2{
  text-align: left;
  font-weight: bold;
  padding: 0 0 0 20px;
}

h1{
  padding: 0px;
  text-align: center;
  padding-bottom: 10px;
  font-weight:bold;
  border-bottom: 2px solid black;
}

body{
  margin-top: 5rem;
  color:black;
  background: #c2edda;
}

#date{
  color:black;
  font-size: 12px;
  font-style: italic;
}

a{
  color:#080c5c;
}

#ch{
  color:#070808;
  font-size: 20px;
  font-style: italic;
  border-bottom: 2px solid black;
}

.tagbox{
  border:1px solid green;
}

#pcount{
  font-size: 20px;
  color: black;
  font-weight: bold;
}
{% endblock %}

{%block content%}
<div class="container">
  <div class="card border-secondary">
    <div class="card-header">
      <h1>About My Blog</h1>
    </div>
    <div class="card-body">
      <p>My Blog is my personal blogging website where I regularly post my blogs. Feel free to visit My Blog and read them.
          Do share your views by posting comments. Thank You!
      </p>
    </div>
  </div>
{%endblock%}
