{%extends 'blog/base1.html' %}
{%block title_block%}MY BLOG HOME PAGE{%endblock%}

{% block css %}

.content{
  width: 70%;
  float: right;
  padding: 0 20px 0 20px;
  background: white;
  height: 100%;
  background-image: url("/static/images/new7.jpg") ;
}

h2{
  text-align: left;
  font-weight: bold;
}

h1{
  padding: 45px;
  text-align: center;
  padding-bottom: 10px;
  font-weight:bold;
  border-bottom: 2px solid black;
}

body{
  color:black;
  background:white;
  background-image: url("/static/images/new7.jpg") ;

}

#date{
  color:black;
  font-size: 12px;
  font-style: italic;
}

a{
  color:#080c5c;
}

#ch{
  color:#070808;
  font-size: 20px;
  font-style: italic;
  border-bottom: 2px solid black;
}

.tagbox{
  border:1px solid green;
}

#pcount{
  font-size: 20px;
  color: black;
  font-weight: bold;
}
{% endblock %}

  {%block content%}
  <!--div class="jumbotron"-->
  <!--h1 class="display-4 my-4"><b>MY BLOG</b></h1>
<!--/div-->

      <!--h1>MY BLOG</h1-->
      {%if tag %}
        <h2>Posts tagged with '{{tag.name}}'</h2>
      {%endif%}
      {%for post in post_list%}
          <a href="{{post.get_absolute_url}}"><h2 class="my-4">{{post.title}}</h2></a>
          <p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
          <p>Tags:
            {%for tag in post.tags.all %}

                <a href="{%url 'post_list_by_tag_name' tag.slug %}" class='btn btn-success'>{{tag.name}}</a>

              <!-- {%if not forloop.last%},{%endif%} -->
            {%endfor%}
          </p>
          {{post.body|truncatewords:30|linebreaks}}
      {%endfor%}
      {%include 'blog/pagination.html' with page=post_list %}
    {%endblock%}
