{%extends 'blog/base1.html' %}
{%block title_block%}MY BLOG HOME PAGE{%endblock%}

{% block css %}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content{
  width: 68%;
  z-index: 0;
  float: left;
  padding: 0 0 0 0;
  background: #c2edda;
}

.sidenav{
    float: right;
    width: 32%;
    background: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
    z-index: 1;
  }


h2{
  text-align: left;
  font-weight: bold;
  padding: 0 0 0 20px;
}

h1{
  padding: 45px;
  text-align: center;
  padding-bottom: 10px;
  font-weight:bold;
  border-bottom: 2px solid black;
}

body{
  margin-top: 5rem;
  color:black;
  background: #c2edda;
}

#date{
  color:black;
  font-size: 12px;
  font-style: italic;
}

a{
  color:#080c5c;
}

#ch{
  color:#070808;
  font-size: 20px;
  font-style: italic;
  border-bottom: 2px solid black;
}

.tagbox{
  border:1px solid green;
}

#pcount{
  font-size: 20px;
  color: black;
  font-weight: bold;
}
{% endblock %}

  {%block content%}
  <!--div class="jumbotron"-->
  <!--h1 class="display-4 my-4"><b>MY BLOG</b></h1-->
  {%if tag %}
    <h3>Posts tagged with '{{tag.name}}'</h3>
  {%endif%}
<!--/div-->

  <div class="card border-dark">
      {%for post in post_list%}
    <h2 class="card-header my-4 text-white bg-secondary">{{post.title}}</h2>
    <div class="card-body">
      <h5 class="card-title"><p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
        <p>Tags:
          {%for tag in post.tags.all %}
          <a href="{%url 'post_list_by_tag_name' tag.slug %}" class='btn btn-success'>{{tag.name}}</a>
              <!-- {%if not forloop.last%},{%endif%} -->
          {%endfor%}
        </p></h5>
      <p class="card-text">{{post.body|truncatewords:30|linebreaks}}</p>
      <a href="{{post.get_absolute_url}}" class="btn btn-outline-info">Read More...</a>
    </div>
  <br>
    {%endfor%}
  </div>
  <br>
  {%include 'blog/pagination.html' with page=post_list %}


{%endblock%}
